.border {
    border: 1px solid black;
}

.border-1 {
    border: 1px solid red;
}

.border-2 {
    border: 1px solid blue;
}

.border-3 {
    border: 1px solid green;
}

.border-4 {
    border: 1px solid yellow;
}

.border-5 {
    border: 1px solid magenta;
}