#navbar {
    height: $navbarHeight;
    width: 100%;
    background-color: $navbarBgColor;
    position: fixed;
    top: 0;
    z-index: 200;
    @include d-flex(space-between, center);

    #sidebar-toggle {
        display: block;
        height: 100%;
        min-width: 50px;
        @include d-flex();
        color: $c_white;
        text-decoration: none;
        outline: none;

        &:hover, &:focus {
            background-color: $hover_bg;
        }

        &:active {
            background-color: $active_bg;
        }
    }
}

.navbar-nav {
    height: 100%;
    width: 100%;

    .nav-items {
        height: 100%;
        @include reset-ul();
        @include d-flex(flex-end);

        .nav-item {
            height: 100%;

            .nav-link {
                text-decoration: none;
                @include d-flex();
                padding: 0 1em;
                height: 100%;
                color: $c_white;
                font-family: $source_sans_pro;
                font-size: .835rem;
                outline: none;
                position: relative;

                &:hover, &:focus {
                    background-color: $hover_bg;
                }

                &:active {
                    background-color: $active_bg;
                }

                .link-desc {
                    display: none;
                    margin-left: 5px;
                }

                .label {
                    position: absolute;
                    top: 6px;
                    right: 5px;
                    padding: 0 4px;
                    border-radius: 3px;
                    font-size: 0.735rem;
                    font-weight: 700;
                }
            }
        }
        
        .nav-item.dropdown {
            .dropdown-menu {
                display: none;
                @include reset-ul();
                position: absolute;
                width: 88%;
                top: $navbarHeight + 10px;
                left: 50%;
                transform: translate(-50%);
                background-color: $c_white;
                border: 1px solid $c_light_border;
                border-radius: 3px;
                box-shadow: $shadow;

                &.toggled {
                    display: block;
                }

                .dropdown-header,
                .dropdown-footer,
                .dropdown-body {
                    padding: 0.6em 1em;
                }

                .dropdown-header {
                    color: #444;
                    border-bottom: 1px solid $c_divider;
                }

                .dropdown-footer {
                    border-top: 1px solid $c_divider;
                }
                
                &.message-dropdown {
                    .dropdown-header {
                        font-size: 0.845rem;
                    }

                    .dropdown-body {
                        padding: 0;
                        .cons {
                            @include reset-ul();
                            .con {
                                padding: 0 8px;
                            }

                            .con-link {
                                display: flex;
                                align-items: center;
                                height: 3em;
                                padding: 0.3em 0.6em;
                                position: relative;
                                border-radius: 8px;

                                div.prof-pic {
                                    height: 2.6em;
                                    width: 2.6em;
                                    border-radius: 50%;
                                    background-color: $c_success;
                                    text-align: center;
                                    line-height: 2.6em;
                                    font-weight: 700;
                                    color: $c_white;
                                }

                                img.prof-pic {
                                    height: 2.6em;
                                    width: 2.6em;
                                    border-radius: 50%;
                                    object-fit: cover;
                                }

                                .con-detail {
                                    margin-left: 0.6em;

                                    .sender-name {
                                        font-size: .885rem;
                                        color: #050505;
                                    }

                                    .sender-message,
                                    .timestamp {
                                        font-size: .765rem;
                                        color: #65676B;
                                    }
                                }

                                &.unseen .sender-name {
                                    font-weight: 700;
                                }

                                &.unseen .sender-message {
                                    font-weight: 700;
                                    color: #1876F2;
                                }

                                a {
                                    @include d-flex();
                                    margin-left: auto;
                                    border-radius: 50%;
                                    width: 32px;
                                    height: 32px;
                                    text-align: center;
                                    background-color: #F8F8F8;
                                    box-shadow: $straightShadow;
                                    color: #65676B;
                                }

                                &:hover {
                                    background-color: #E4E4E4;

                                    a:hover {
                                        background-color: #FFF;
                                        color: #5b5d61;
                                    }
                                }
                            }

                            &:first-child {
                                padding-top: 0.6em;
                            }

                            &:last-child {
                                padding-bottom: 0.6em;
                            }
                        }
                    }

                    .dropdown-footer {
                        font-size: .785rem;
                        text-align: center;
                    }
                }
            }

            &.active {
                .dropdown-menu {
                    display: block;
                }
            }
        }

        .nav-item.user-acc {
            .nav-link img {
                height: 26px;
                width: 26px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}

@include media-breakpoint($sm) {
    .navbar-nav .nav-items .nav-item .nav-link .link-desc {
        display: inline;
    }

    .navbar-nav .nav-items .nav-item.dropdown {
        position: relative;

        .dropdown-menu {
            width: $dropdownMdSize;
        }

        .dropdown-menu-sm {
            width: $dropdownSmSize;
        }

        .dropdown-menu-md {
            width: $dropdownMdSize;
        }

        .dropdown-menu-lg {
            width: $dropdownLgSize;
        }

        .menu-left-sm {
            transform: translate(0);
            left: auto;
            right: 0;
        }

        .menu-center-sm {
            transform: translate(-50%);
            left: 50%;
            right: auto;
        }

        .menu-right-sm {
            transform: translate(0);
            left: 0;
            right: auto;
        }
    }
}

@include media-breakpoint($md) {
    .navbar-nav .nav-items .nav-item.dropdown {
        .menu-left-md {
            transform: translate(0);
            left: auto;
            right: 0;
        }

        .menu-center-md {
            transform: translate(-50%);
            left: 50%;
            right: auto;
        }

        .menu-right-md {
            transform: translate(0);
            left: 0;
            right: auto;
        }
    }
}

@include media-breakpoint($lg) {
    .navbar-nav .nav-items .nav-item.dropdown {
        .menu-left-lg {
            transform: translate(0);
            left: auto;
            right: 0;
        }

        .menu-center-lg {
            transform: translate(-50%);
            left: 50%;
            right: auto;
        }

        .menu-right-lg {
            transform: translate(0);
            left: 0;
            right: auto;
        }
    }
}

@include media-breakpoint($xl) {
    .navbar-nav .nav-items .nav-item.dropdown {
        .menu-left-xl {
            transform: translate(0);
            left: auto;
            right: 0;
        }

        .menu-center-xl {
            transform: translate(-50%);
            left: 50%;
            right: auto;
        }

        .menu-right-xl {
            transform: translate(0);
            left: 0;
            right: auto;
        }
    }
}