body {
    margin: 0;
    font-family: $lato;
    overflow-x: hidden;
    background-color: #ECF0F5;
    padding-top: 44px;  
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $c_primary;
}