#sidebar {
    position: fixed;
    height: 100vh;
    width: $sidebarWidth;
    box-sizing: border-box;
    transform: translate(-$sidebarWidth, 0);
    top: 0;
    z-index: 100;
    transition: all 300ms ease-in;
    padding-top: $navbarHeight;
    background-color: $sidebarBgColor;
    font-family: $source_sans_pro;
    overflow-x: hidden;

    .brand, .search-container {
        padding: 0.6em 0.8em;
        box-sizing: border-box;
    }

    .brand {
        width: $sidebarWidth;
        height: 60px;
        padding-bottom: 0;
        @include d-flex(flex-start);

        .brand-logo {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            transition: all 300ms;
            transition-delay: 200ms;
        }

        .brand-desc {
            margin-left: 0.6em;

            .title, .subtitle {
                color: $c_white;
                margin: 0;
                transition: all 300ms ease-in;
            }

            .title {
                font-size: 1.1rem;
            }

            .subtitle {
               font-size: 0.7rem;
            }
        }
    }

    .search-container {
        height: 48px;
    }

    .search-container .search-form {
        display: inline-flex;
        width: 100%;

        .query, .submit {
            height: 24px;
            background-color: #374850;
            border: 1px solid transparent;
            box-sizing: content-box;
            outline: none;
            transition: all 300ms ease-out;
        }

        .query {
            width: 86%;
            border-radius: 4px 2px 2px 4px;
            padding-left: 0.8em;
            &::placeholder {
                color: #999;
            }

            &:focus {
                background-color: $c_light;
            }
        }

        .submit {
            color: #999;
            width: 13%;
            border-radius: 2px 4px 4px 2px;
            margin-left: 1px;

            &:hover, &:focus {
                cursor: pointer;
                background-color: #425258;
            }

            &:active {
                background-color: $c_light;
                color: #333;
            }
        }
    }

    .sidebar-nav {
        height: calc(100vh - 152px);
    }

    .sidebar-nav .nav-items {
        padding-bottom: 0.5em;
    }

    .sidebar-nav .nav-items,
    .sidebar-nav .nav-items .tree-view .tree-view-menu {
        @include reset-ul();

        .header {
            color: #4B646F;
            background-color: #1A2226;
            font-size: 0.75rem;
            letter-spacing: 1px;
            padding: 0.8em 1.2em;
            text-transform: uppercase;
        }

        .nav-item .nav-link.exact-active,
        .tree-view .tree-view-menu li a.exact-active {
            color: #FFF;
            background-color: #1E282C;
            border-left-color: #3C8DBC;
        }

        .nav-item .nav-link,
        .tree-view .nav-link,
        .tree-view .tree-view-menu li a  {
            border-left: 3px solid transparent;
            color: #B8C7CE;
            text-decoration: none;
            display: block;
            padding: 0.8em 1.2em;
            font-size: 0.9rem;
            outline: none;

            &:hover, &:focus {
                color: #FFF;
                background-color: #1E282C;
                border-left-color: #3C8DBC;
            }

            .link-desc {
                margin-left: 0.5em;
            }
        }

        .tree-view {
            .nav-link .tree-view-arrow {
                float: right;
                transition: transform 150ms linear;
            }
            
            .tree-view-menu {
                transition: height 300ms ease-in;
                overflow: hidden;
                display: none;

                li a {
                    padding: 0.4em 0.8em 0.4em 2.5em;

                    span {
                        margin-left: 0.8em;
                    }
                }
            }
        }
    }
}

#sidebar.toggled {
    transform: translate(0, 0);
    .brand {
        width: auto;
    }
}

@include media-breakpoint($md) {
    #sidebar {
        transform: translate(0, 0);

        .sidebar-nav .nav-items .nav-item,
        .sidebar-nav .nav-items .tree-view {
            width: $sidebarWidth;
        }
    }

    #sidebar.toggled {
        width: 50px;
        
        &:hover {
            width: $sidebarWidth;

            .brand {
                width: $sidebarWidth;
            }

            .brand .brand-desc {
                display: block;
                width: 140px;
            }

            .brand .brand-logo {
                width: 50px;
                height: 50px;
            }

            .sidebar-nav .nav-items {
                .nav-item,
                .tree-view {
                    width: $sidebarWidth;
                }

                .nav-item .nav-link .link-desc,
                .tree-view .nav-link .link-desc,
                .tree-view .nav-link .tree-view-arrow {
                    display: inline;
                }   
            }
        }

        .brand {
            height: 70px;
            padding: 0.8em 0.2em;
            justify-content: center;

            .brand-desc {
                display: none;
            }

            .brand-logo {
                width: 36px;
                height: 36px;
            }
        }

        .search-container {
            display: none;
        }

        .sidebar-nav {
            height: calc(100vh - 114px);
        }

        .sidebar-nav .nav-items {
            .header,
            .nav-item .nav-link .link-desc,
            .tree-view .nav-link .link-desc,
            .tree-view .nav-link .tree-view-arrow {
                display: none;
            }
        }
    }
}