[class$="-success"] { 
    background-color: $c_success;
}

[class$="-primary"] { 
    background-color: $c_primary;
}

[class$="-danger"] { 
    background-color: $c_danger;
}

[class$="-info"] { 
    background-color: $c_info;
}

[class$="-warning"] { 
    background-color: $c_warning;
}