@import './variables';
@import './mixin';
@import './keyframes';

body {
    margin: 0;
    font-family: $lato;
    overflow-x: hidden;
    background-color: #ECF0F5;
    padding-top: 44px;  
}

p {
    margin: 0;
}

@import './navbar';
@import './sidebar';
@import './main';
@import './layouts';
@import './utilities';